<% include ../partials/head %>
    <body >
        <div class="container">Landing page</div>

        <% include ../partials/scripts %>
        <% include ../partials/scripts-chat %>
    </body>
</html>

