<% include ../partials/head %>
    <body >
        <div class="container">Login Page</div>
        <p>
            <a href=<%= google_url %> >Login with Google</a>
        </p>
        <% include ../partials/scripts %>
    </body>
</html>

