<% include ../partials/head %>
    <body >
        <p>
            <a href=<%= google_url %> class="btn btn-primary btn-lg">
                Login with Google</a>
        </p>
        <% include ../partials/scripts %>
    </body>
</html>

