<% include ../partials/head %>
    <body >
        <div class="container">Upload page</div>
        <p>
            <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <span>Upload File: </span>
                <input id="elm-dropzone" type="file" name="elm_dropzone" />
                <button id="btn-upload" class="btn btn-primary" type="submit" onclick="upload()">Button</button>
            </form>
        </p>

        h1>Ajax Post Result</h1>
        <span id="result"></span>

        <% include ../partials/scripts %>
        <% include ../partials/scripts/upload %>
    </body>
</html>

